Repository quantumlib/ReCirq, pull requests merged in 2020-11, with the labels that each got.

#95 [docs] Intro copy
  docs/index.md
Labels: documentation

#94 Quantum chess docs
  docs/_toc.yaml
  docs/quantum_chess/concepts.ipynb
  docs/quantum_chess/images/bitboard_order.png
  docs/quantum_chess/images/chess_board_indices.png
  docs/quantum_chess/images/qc_blocked_king.png
  docs/quantum_chess/images/qc_exclusion_move.png
  docs/quantum_chess/images/qc_qking_moves.png
  docs/quantum_chess/images/qc_slide_move.png
  docs/quantum_chess/images/qc_split_move1.png
  docs/quantum_chess/images/qc_standard_move.png
  docs/quantum_chess/index.md
  docs/quantum_chess/quantum_chess_client.ipynb
  docs/quantum_chess/quantum_chess_rest_api.ipynb
Labels: chess, documentation

#100 Fixup HFVQE molecular_data Tutorial
  docs/hfvqe/molecular_data.ipynb
Labels: documentation, hfvqe

#99 Fix "guide" notebooks to run under colab
  dev_tools/convert-readout-scan-notebook-to-script.py
  docs/guide/data_analysis.ipynb
  docs/guide/data_collection.ipynb
  recirq/__init__.py
  recirq/documentation_utils.py
  recirq/documentation_utils_test.py
  recirq/readout_scan/README.md
  recirq/readout_scan/Readout-Analysis.ipynb
  recirq/readout_scan/run-readout-scan.py
Labels: documentation

#96 Polish Fermi-Hubbard experiment example.
  docs/fermi_hubbard/experiment_example.ipynb
Labels: documentation, fhm

#102 Install dependencies and format hfvqe/quickstart
  docs/hfvqe/quickstart.ipynb
  recirq/hfvqe/analysis_test.py
  recirq/hfvqe/molecular_example.py
  recirq/hfvqe/molecular_example_odd_qubits.py
  setup.py
Labels: documentation, hfvqe
