Repository quantumlib/ReCirq, pull requests merged in 2022-02, with the labels that each got.

#258 Add ToricCodePlotter to ReCirq (#4)
  recirq/toric_code/toric_code_plotter.py
  recirq/toric_code/toric_code_plotter_test.py
  recirq/toric_code/toric_code_state_prep.py
Labels: toric_code

#259 loschmidt.tilted_square_lattice gen+run
  recirq/algorithmic_benchmark_library.py
  recirq/cirqflow/__init__.py
  recirq/cirqflow/run_utils.py
  recirq/cirqflow/run_utils_test.py
  recirq/otoc/loschmidt/tilted_square_lattice/.gitignore
  recirq/otoc/loschmidt/tilted_square_lattice/end-to-end-test.sh
  recirq/otoc/loschmidt/tilted_square_lattice/gen-small-v1.py
  recirq/otoc/loschmidt/tilted_square_lattice/run-simulator.py
Labels: otoc, ftb/bl

#265 Small quantum chess fixes
  recirq/quantum_chess/ascii_board.py
  recirq/quantum_chess/controlled_iswap.py
  recirq/quantum_chess/initial_mapping_utils.py
  recirq/quantum_chess/quantum_board.py
Labels: chess

#248 Some QML LFE nits
  recirq/qml_lfe/circuit_blocks.py
  recirq/qml_lfe/learn_states_c_test.py
  recirq/qml_lfe/learn_states_q_test.py
Labels: qml_lfe

#263 Toric code: Add readout unfolding classes (#5)
  recirq/toric_code/readout_unfolding.py
  recirq/toric_code/readout_unfolding_test.py
  recirq/toric_code/toric_code_state_prep.py
Labels: toric_code

#261 loschmidt.tilted_square_lattice analysis utilities and notebook walkthrough
  recirq/otoc/loschmidt/tilted_square_lattice/analysis-walkthrough.ipynb
  recirq/otoc/loschmidt/tilted_square_lattice/analysis.py
Labels: otoc, ftb/bl
