Repository quantumlib/ReCirq, pull requests merged in 2022-03, with the labels that each got.

#264 Toric code: Add optimizers for toric_code (#6)
  recirq/toric_code/optimizers.py
  recirq/toric_code/optimizers_test.py
Labels: toric_code

#272 [loschmidt] plots.ipynb
  recirq/otoc/loschmidt/tilted_square_lattice/analysis-walkthrough.ipynb
  recirq/otoc/loschmidt/tilted_square_lattice/analysis.py
  recirq/otoc/loschmidt/tilted_square_lattice/plots.ipynb
Labels: otoc, ftb/bl

#274 Fix forced measurements with slide move
  recirq/quantum_chess/quantum_board.py
  recirq/quantum_chess/quantum_board_test.py
Labels: chess

#249 Add Experiment Class for Discrete Time Crystal Experiments
  recirq/time_crystals/__init__.py
  recirq/time_crystals/dtcexperiment.py
  recirq/time_crystals/dtcexperiment_test.py
Labels: time_crystals

#278 Speed up analysis of board samples
  recirq/quantum_chess/quantum_board.py
Labels: chess
