Repository quantumlib/ReCirq, pull requests merged in 2022-01, with the labels that each got.

#236 loschmidt.tilted_square_lattice Benchmark
  .github/workflows/pythonpackage.yml
  recirq/algorithmic_benchmark_library.py
  recirq/algorithmic_benchmark_library_test.py
  recirq/otoc/loschmidt/__init__.py
  recirq/otoc/loschmidt/tilted_square_lattice/__init__.py
  recirq/otoc/loschmidt/tilted_square_lattice/tilted_square_lattice.py
  recirq/otoc/loschmidt/tilted_square_lattice/tilted_square_lattice_test.py
Labels: otoc, cla: yes, ftb/bl

#210 Optimizations to reduce qubits based on non-entangled squares
  recirq/quantum_chess/quantum_board.py
  recirq/quantum_chess/quantum_board_test.py
  recirq/quantum_chess/quantum_moves.py
Labels: chess, cla: yes

#255 Add Toric Code Rectangle to ReCirq (#1)
  recirq/toric_code/__init__.py
  recirq/toric_code/toric_code_rectangle.py
  recirq/toric_code/toric_code_rectangle_test.py
Labels: toric_code

#256 Add Toric Code Plaquette to ReCirq (#2)
  recirq/toric_code/toric_code_plaquettes.py
  recirq/toric_code/toric_code_plaquettes_test.py
Labels: toric_code

#257 Add Toric Code State Prep to ReCirq (#3)
  recirq/toric_code/toric_code_state_prep.py
  recirq/toric_code/toric_code_state_prep_test.py
Labels: toric_code
