Repository quantumlib/ReCirq, pull requests merged in 2025-09, with the labels that each got.

#407 Fix #393: add image files for lattice_gauge notebook
  docs/lattice_gauge/images/Hamiltonian_terms.png
  docs/lattice_gauge/images/labeled_charge_sites.png
  docs/lattice_gauge/images/q1_q2.png
  docs/lattice_gauge/images/x_string_excitation.png
  docs/lattice_gauge/lattice_gauge.ipynb
Labels: area/docs

#424 Fix #422: avoid using `eval` to get version number
  setup.py
Labels: area/health

#290 SK Model QAOA application benchmark
  recirq/qaoa/__init__.py
  recirq/qaoa/classical_angle_optimization.py
  recirq/qaoa/problem_circuits.py
  recirq/qaoa/sk_model/__init__.py
  recirq/qaoa/sk_model/sk_model.py
  recirq/qaoa/sk_model/sk_model_test.py
Labels: area/qaoa, area/ftb_bl
